/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* Colors */
  --clr-dark: #0b0d17;
  --clr-light: rgb(208,214,249);
  --clr-white:#ffffff;
  /* Typography - font-size */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond:"Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow" sans-serif; }

@media (min-width: 35em) {
  :root {
    /* Typography - font-size */
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem; } }

@media (min-width: 45em) {
  :root {
    /* Typography - font-size */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.175rem; } }

/* ------------------- */
/* Reset               */
/* ------------------- */
/* Box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400; }

/* Set up the body */
html:focus-within {
  scroll-behavior: smooth; }

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: var(--clr-white);
  background-color: var(--clr-dark);
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  overflow-x: hidden; }

/* make Images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove animation for people who`ve turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* ------------------- */
/* Utility classes     */
/* ------------------- */
/* general */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem); }

.flex.even-columns > * {
  width: 100%; }

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem); }

.d-block {
  display: block; }

.flow > * + * {
  margin-top: var(--flow-space, 1rem); }

.flow-space--small {
  --flow-space: .75rem
; }

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0px; }

.skip-to-content {
  position: absolute;
  z-index: 99999;
  background-color: var(--clr-white);
  color: var(--clr-dark);
  padding: .5em 1em;
  margin-inline: auto;
  border-radius: 0 0 20px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in; }

.skip-to-content:focus {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

/* Colors */
.bg-dark {
  background-color: var(--clr-dark); }

.bg-light {
  background-color: var(--clr-light); }

.bg-white {
  background-color: var(--clr-white); }

.text-dark {
  color: var(--clr-dark); }

.text-light {
  color: var(--clr-light); }

.text-white {
  color: var(--clr-white); }

/* typography */
.ff-serif {
  font-family: var(--ff-serif); }

.ff-sans-cond {
  font-family: var(--ff-sans-cond); }

.ff-sans-normal {
  font-family: var(--ff-sans-normal); }

.letter-spacing-1 {
  letter-spacing: 4.75px; }

.letter-spacing-2 {
  letter-spacing: 2.7px; }

.letter-spacing-3 {
  letter-spacing: 2.35px; }

.uppercase {
  text-transform: uppercase; }

.fs-900 {
  font-size: var(--fs-900); }

.fs-800 {
  font-size: var(--fs-800); }

.fs-700 {
  font-size: var(--fs-700); }

.fs-600 {
  font-size: var(--fs-600); }

.fs-500 {
  font-size: var(--fs-500); }

.fs-400 {
  font-size: var(--fs-400); }

.fs-300 {
  font-size: var(--fs-300); }

.fs-200 {
  font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1; }

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px; }

.numbered-title span {
  margin-right: .5em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3); }

/* ------------------- */
/* Components          */
/* ------------------- */
.large-button {
  position: relative;
  z-index: 1;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  padding: 0 2rem;
  aspect-ratio: 1;
  text-decoration: none;
  border-radius: 50%;
  font-size: 2.5rem; }

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 500ms linear, -webkit-transform 500ms ease-in-out;
  transition: opacity 500ms linear, -webkit-transform 500ms ease-in-out;
  transition: opacity 500ms linear, transform 500ms ease-in-out;
  transition: opacity 500ms linear, transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out; }

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

/* primary-header */
.logo {
  margin: 2rem clamp(1.5rem, 5vw, 3.5rem); }

.primary-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.95); }

@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .primary-navigation {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(1.5rem);
            backdrop-filter: blur(1.5rem); } }

.primary-navigation a {
  text-decoration: none; }

.primary-navigation a > span {
  font-weight: 700;
  margin-right: .5rem; }

.mobile-nav-toggle {
  display: none; }

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: .5rem;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    list-style: none;
    padding: 9rem 2rem;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .primary-navigation.underline-indicators > .active {
    border: 0; }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    border: 0;
    background-image: url(/assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1; }
  .mobile-nav-toggle:focus-visible {
    outline: 3px solid white;
    outline-offset: 5px; }
  .primary-navigation[data-visible="true"] {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .mobile-nav-toggle[aria-expanded="false"] {
    background-image: url(/assets/shared/icon-close.svg); } }

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 5vw, 7rem); } }

@media (min-width: 35em) and (max-width: 44em) {
  .primary-navigation a > span {
    display: none; } }

@media (min-width: 45em) {
  .primary-header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: -2rem;
    background: rgba(255, 255, 255, 0.25); }
  nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .primary-navigation {
    margin-block: 2rem;
    padding-inline: 7rem; } }

.underline-indicators > * {
  border: 0;
  cursor: pointer;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
  padding: var(--underline-gap, 0.5rem) 0;
  background-color: transparent; }

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: rgba(255, 255, 255, 0.25); }

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  border-color: white;
  color: #ffffff; }

.tab-list {
  --gap: 2rem; }

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: .5em;
  background-color: rgba(255, 255, 255, 0.25); }

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: rgba(255, 255, 255, 0.5); }

.dot-indicators > [aria-selected="true"] {
  background-color: white; }

/* ---------------------------- */
/* Page Specific Background     */
/* ---------------------------- */
body {
  background-size: cover;
  background-position: bottom center; }

/* home */
.home {
  background-image: url(../assets/home/background-home-mobile.jpg); }

@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url(../assets/home/background-home-tablet.jpg); } }

@media (min-width: 45rem) {
  .home {
    background-image: url(../assets/home/background-home-desktop.jpg); } }

/* destination */
.destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg); }

@media (min-width: 35rem) {
  .destination {
    background-position: center center;
    background-image: url(../assets/destination/background-destination-tablet.jpg); } }

@media (min-width: 45rem) {
  .destination {
    background-image: url(../assets/destination/background-destination-desktop.jpg); } }

/* crew */
.crew {
  background-image: url(../assets/crew/background-crew-mobile.jpg); }

@media (min-width: 35rem) {
  .crew {
    background-position: center center;
    background-image: url(../assets/crew/background-crew-tablet.jpg); } }

@media (min-width: 45rem) {
  .crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg) !important; } }

/* ---------------------------- */
/* layout                       */
/* ---------------------------- */
.grid-container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem; }

.grid-container p:not([class]) {
  max-width: 50ch; }

.numbered-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title; }

/* destination layout */
.grid-container--destination {
  --flow-space: 2rem;
      grid-template-areas: 'title' 'image' 'tabs' 'content'; }

.grid-container--destination .div {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  max-width: 60%;
  -ms-flex-item-align: start;
      align-self: start; }

.grid-container--destination .tab-list {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs; }

.grid-container--destination .destination-info {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content; }

.grid-container--destination .destination-meta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 2.5rem;
  margin-top: 2.5rem; }
  .grid-container--destination .destination-meta p {
    font-size: 1.75rem; }

/* crew layout */
.grid-container--crew {
  --flow-space: 2rem;
      grid-template-areas: 'title' 'image' 'tabs' 'content'; }

.grid-container--crew div {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }

.grid-container--crew .dot-indicators {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs; }

.grid-container--crew .crew-details {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content; }

.grid-container--crew .crew-details h2 {
  opacity: .5; }

@media (min-width: 35em) {
  .numbered-title {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: 2rem; }
  .destination-meta {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .grid-container--crew {
    padding-bottom: 0;
        grid-template-areas: 'title' 'content' 'tabs' 'image'; } }

@media (min-width: 45em) {
  .grid-container {
    text-align: left;
    -webkit-column-gap: var(--container-gap, 2rem);
            column-gap: var(--container-gap, 2rem);
    -ms-grid-columns: minmax(2rem, 1fr) (minmax(0, 30rem))[2] minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr); }
  .grid-container--home > *:first-child {
    -ms-grid-column: 2;
    grid-column: 2; }
  .grid-container--home > *:last-child {
    -ms-grid-column: 3;
    grid-column: 3; }
  .grid-container--home {
    padding-bottom: 15rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end; }
  .grid-container--destination {
    justify-items: start;
    -ms-flex-line-pack: start;
        align-content: start;
        grid-template-areas: '. title title .' '. image tabs .' '. image content .'; }
  .grid-container--destination div {
    max-width: 90%; }
  .destination-meta {
    --gap: min(7vw, 6rem);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .grid-container--crew {
    -ms-grid-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 20rem) minmax(1rem, 1fr);
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 20rem) minmax(1rem, 1fr);
    justify-items: start;
        grid-template-areas: '. title title .' '. content image .' '. tabs image .'; }
  .grid-container--crew div {
    grid-column: span 2;
    max-width: 90%; } }

[role="tab"]:focus {
  color: limegreen; }
